@page
@model IndexModel
@{
    Layout = "_SplashLayout";
    ViewData["Title"] = "Welcome to AlienCyborg ESP Radar";
}

<div class="splash-center">
    <img class="splash-alien" src="~/images/alien-head.jpg" alt="Alien Head Splash page" asp-append-version="true" />
    <div class="splash-text">
        <h1>Alien Cyborg ESP Radar</h1>
        <p class="mb-0">Initializing...</p>
    </div>
</div>

@section Scripts {
    <script>
        // Redirect to main dashboard after a short delay
        setTimeout(function () {
            window.location.href = '/Home';
        }, 3000); // 3 seconds delay
    </script>
}